* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: darkslategrey;
}

h6 {
  font-size: 32px;
  font-weight: lighter;
  color: darkolivegreen;
  letter-spacing: 20px;
  text-align: center;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
section {
  background-color: rgb(106, 155, 138);
  width: 50%;
  height: 400px;
  margin: 20px auto;
  border-radius: 15px;
  box-shadow: 71px 43px 56px -13px rgba(176, 217, 200, 0.75);
  -webkit-box-shadow: 71px 43px 56px -13px rgba(176, 217, 200, 0.75);
  -moz-box-shadow: 71px 43px 56px -13px rgba(176, 217, 200, 0.75);
  border: 10px solid black;
  color: aliceblue;
  padding: 20px;
  transition: 2s all ease-in-out;
}
section:hover {
  transform: scale(1.2);
  transition: 2s all ease-in-out;
}
